@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Dongle:wght@300&family=Inconsolata:wght@200&display=swap');

$primarycolor: #E0C3FC;
@mixin flex-centering{
    display: flex;
    align-items: center;
}

@mixin border {
    border:1px solid black
}

body,html{
    // background-color: $primarycolor;
    margin: 0;
    padding: 0;
    // font-family: 'Dongle', sans-serif;
    // font-family: 'Dongle', sans-serif;
    // font-family: 'Inconsolata', monospace;
    // font-family: 'Comfortaa', cursive;

    #root{
        // background-color: white;
    }

    // CABEZERA
    
    // header ul {
    //     /* border: 1px solid white; */
    //     height: 100%;
    //     display: flex;
    //     flex-direction: row;
    //     margin: 0;
    //     padding: 0;
    //     align-items: center;
    //     justify-content: space-evenly;
    //     border: 1px solid black;
    // }
    
    // header li {
    //     height: 50%;
    //     list-style: none;
    //     padding: 0;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     border: 1px solid black;
    
    // }
    
    // nav a {
    //     height: 100%;
    //     width: 100%;
    //     padding: 0 0.8em;
    //     text-decoration: none;
    //     // color: #58AF9B;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    //     font-size: 0.9em;
    // }
    
    // a p+div {
    //     width: 2%;
    //     position: relative;
    //     top: -5px;
    //     background-color: #58AF9B;
    //     transition: width 0.7s, height 4s;
    // }
    
    // a .active {
    //     width: 80%;
    //     height: 2px;
    // }
    
    // nav a:hover div {
    //     width: 80%;
    //     height: 2px;
    // }


    // Cartas

    .cards{
        background-color: white;
        display: flex;
        height: 90vh;
    }
    .card{
        min-width: 100px;
        max-height: 200px;
        margin: 0.5em;
        width: fit-content;
        padding: 0 1em;
        background-color: #F9F3FE;
        border: 1px solid #FDE7FB;
        display: grid;
        grid-gap: 0 10px;
        grid-template-areas: 
        '. tit tit'
        'img tit tit'
        'img tit tit'
        'img res res'
        'img res res'
        '. res res';
        border-radius: 5px;
    }
}